<div class="content">
    <div class="add-form-box disSelected" (click)="mustOne($event)">
        <div class="font18 width120 height34 line-height34 textcenter font-bold">基础信息</div>
        <div class="flex-base">
            <div class="height2 bgc-blue4 width120"></div>
            <div class="height1 bgc-gray3 self-flex-end flex-grow1"></div>
        </div>
        <div *ngIf="id" class="flex-base mt34 height34 line-height34">
            <div class="width220 textright">投放策略ID：</div>
            <div class="flex-base width1200 ml20">
                <div>{{ policy.id }}</div>
            </div>
        </div>
        <div class="flex-base mt34 height34 line-height34">
            <div class="width220 textright rel required-left">投放策略名称：</div>
            <div class="flex-base width1200 ml20">
                <div class="width320">
                    <input type="text" class="form-control" [(ngModel)]="policy.name" name="name" validation [validations]="'maxlength:20;required'" placeholder="请输入策略名称">
                </div>
                <div class="ml20 font14">限20字以内</div>
            </div>
        </div>
        <div class="flex-base mt34 height34 line-height34">
            <div class="width220 textright required-left rel">投放周期：</div>
            <div class="flex-base width1200 ml20">
                <div class="width240 rel">
                    <input id="timeRangePicker" class="form-control" type="text" value="{{ publicService.FormalTimeLine(policy.startDate) + (publicService.FormalTimeLine(policy.startDate) ? ' 至 ' : '') +  publicService.FormalTimeLine(policy.endDate)}}">
                    <i class="icon-calendar time-icon"></i>
                </div>
            </div>
        </div>
        <div class="flex-base mt34 height34 line-height34">
            <div class="width220 textright">投放时段KPI及成本：</div>
            <div class="flex-start-center width1200 ml20">
                <div class="flex-start-center">
                    <img src="{{ m }}" class="mr10" *ngIf="policy.totalImpression">
                    <div class="mr20" *ngIf="policy.totalImpression">{{ policy.totalImpression }}</div>
                    <img src="{{ c }}" class="mr10" *ngIf="policy.totalClick">
                    <div class="mr20" *ngIf="policy.totalClick">{{ policy.totalClick }}</div>
                    <img src="{{ money }}" class="mr10" *ngIf="policy.totalBudget">
                    <div class="mr20" *ngIf="policy.totalBudget">{{ policy.totalBudget }}</div>
                    <img src="{{ d }}" class="mr10" *ngIf="days">
                    <div class="mr20 font14" *ngIf="days">{{ days + " 天" }}</div>
                    <img src="{{ h }}" class="mr10" *ngIf="hours">
                    <div class="mr20 font14" *ngIf="hours">{{ hours + " 小时" }}</div>
                </div>
                <button class="btn btn-primary" (click)="toggleKpi()">点击设置</button>
            </div>
        </div>
        <ng-kpi *ngIf="isShowKpi"
            [kpi]="policy.kpi"
            [totalBudget]="policy.totalBudget"
            [totalClick]="policy.totalClick"
            [totalImpression]="policy.totalImpression"
            (outer)="onmessage($event)"
        ></ng-kpi>
        <div class="flex-base mt34 height34 line-height34">
            <div class="width220 textright">频次控制：</div>
            <div class="flex-base width1200 ml20">
                <label class="mr20">
                    <input type="radio" [(ngModel)]="policy.frequencyType" name="frequencyType1" [value]="'0'">无频次控制
                </label>
                <label class="mr20">
                    <input type="radio" [(ngModel)]="policy.frequencyType" name="frequencyType2" [value]="'1'">按展现量控制频次
                </label>
                <label>
                    <input type="radio" [(ngModel)]="policy.frequencyType" name="frequencyType3" [value]="'2'">按点击量控制频次
                </label>
            </div>
        </div>
        <div class="flex-base mt34 height34 line-height34" *ngIf="policy.frequencyType !== '0'">
            <div class="width220 textright"></div>
            <div class="flex-base width1200 ml20">
                <div class="mr20">
                    全部创意
                </div>
                <div>——</div>
                <div class="width150 ml20 mr20">
                    <select class="form-control" [(ngModel)]="policy.cycleType" name="objectType">
                        <option [ngValue]="'2'">每天</option>
                        <option [ngValue]="'3'">每周</option>
                        <option [ngValue]="'4'">每月</option>
                        <option [ngValue]="'0'">全投放周期</option>
                    </select>
                </div>
                <div *ngIf="policy.frequencyType === '1'">限每个用户展示</div>
                <div *ngIf="policy.frequencyType === '2'">限每个用户点击</div>
                <div class="width150 ml20 mr20">
                    <input *ngIf="policy.frequencyType === '1'" type="number" class="form-control" [(ngModel)]="policy.frequencyAmount" name="frequencyAmount" validation [validations]="'noFloat;required'">
                    <input *ngIf="policy.frequencyType === '2'" type="number" class="form-control" [(ngModel)]="policy.frequencyAmount" name="frequencyAmount" validation [validations]="'noFloat;required'">
                </div>
                <div>次</div>
            </div>
        </div>
        <div class="flex-base mt34 height34 line-height34">
            <div class="width220 textright">匀速投放：</div>
            <div class="flex-base width1200 ml20">
                <label class="mr20">
                    <input type="radio" [(ngModel)]="policy.isUniform" name="isUniform" [value]="'1'">是
                </label>
                <label class="mr20">
                    <input type="radio" [(ngModel)]="policy.isUniform" name="notUniform" [value]="'0'">否
                </label>
            </div>
        </div>
        <div class="flex-base mt34 height34 line-height34">
            <div class="width220 textright rel required-left">出价：</div>
            <div class="flex-base width1200 ml20">
                <div class="width150 mr20">
                    <input type="number" class="form-control" [(ngModel)]="policy.realBid" name="realBid" validation [validations]="'rate;required;maxnum:9999.99'">
                </div>
                <div>元 / CPM</div>
            </div>
        </div>
        <div class="font18 width120 height34 line-height34 textcenter font-bold mt34">定向信息</div>
        <div class="flex-base">
            <div class="height2 bgc-blue4 width120"></div>
            <div class="height1 bgc-gray3 self-flex-end flex-grow1"></div>
        </div>
        <div class="flex-base mt34 height34 line-height34">
            <div class="width220 textright">国家/地区：</div>
            <div class="flex-base width1200 ml20">
                <div class="width240">
                    <select class="form-control">
                        <option>中国</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="flex-base mt34 height34 line-height34">
            <div class="width220 textright">地区选择：</div>
            <div class="flex-base width1200 ml20">
                <div class="width240 rel">
                    <input class="form-control" type="text" name="regionNames" [(ngModel)]="regionNames" (click)="openRegionModal()" placeholder="全部">  
                    <span class='camadd-caret'></span>             
                </div>
                <modal #regionModal [backdrop]="'static'" [animation]="false" class="modalRegion">
                    <modal-header>
                        <div class="ng2-modal-header">
                            <div class="width3 height18 bgc-blue4 ml20"></div> 
                            <div class="ml10 font16 font-bold color-gray5">选择地区</div>   
                        </div>
                    </modal-header>
                    <modal-body>
                        <modal-region [limit]="campaign.targeting.region"></modal-region>
                    </modal-body>
                    <modal-footer>
                        <button type="button" class="btn btn-cancel btn-sm height30 width65" (click)="regionCancel()">取消</button>
                        <button type="button" class="btn btn-primary btn-sm height30 width65" (click)="regionModalSubmit()">确定</button>
                    </modal-footer>
                </modal>
            </div>
        </div>
        <div class="flex-base mt34 height34 line-height34">
            <div class="width220 textright">人群包定向：</div>
            <div class="flex-base width1200 ml20">
                <label class="mr65">
                    <input type="radio" [(ngModel)]="policy.populationType" name="populationType1" [value]="'0'">不限
                </label>
                <!--<label class="mr20">
                    <input type="radio" [(ngModel)]="campaign.targeting.population.type" name="populationType2" [value]="'02'">黑名单人群包
                </label>
                <label class="mr20">
                    <input type="radio" [(ngModel)]="campaign.targeting.population.type" name="populationType3" [value]="'03'">只投白名单人群包
                </label>
                <label class="mr40">
                    <input type="radio" [(ngModel)]="campaign.targeting.population.type" name="populationType4" [value]="'04'">优先投白名单人群包
                </label>
                <div class="flex-base" *ngIf="campaign.targeting.population.type === '04'">
                    <div>溢价比例：</div>
                    <div class="width65 ml10 mr10">
                        <input type="text" class="form-control" [(ngModel)]="campaign.targeting.population.ratio" name="ratio">
                    </div>
                    <div>%</div>
                </div>     -->
            </div>
        </div>
        <!--<population-selected
            *ngIf="campaign.targeting.population.type !== '01'"
        ></population-selected>-->
        <div class="flex-base mt34 height34 line-height34">
            <div class="width220 textright">网络环境：</div>
            <div class="flex-base width1200 ml20">
                <label class="mr65">
                    <input [class.bgc-gray3]="isCampaignNetwork" [disabled]="isCampaignNetwork" type="radio" [(ngModel)]="isNetwork" name="notNetwork" [value]="false" (click)="deleteRadioTarget('network')">不限
                </label>
                <label class="mr20">
                    <input type="radio" [(ngModel)]="isNetwork" name="isNetwork" [value]="true" (click)="addRadioTarget('network')">自定义
                </label>
                <div class="flex-base" *ngIf="isNetwork">
                    <label class="mr20">
                        <input [class.bgc-gray3]="isCampaignNetwork && !campaignTargetModal.network[0].value" [disabled]="isCampaignNetwork && !campaignTargetModal.network[0].value" type="checkbox" [(ngModel)]="targetModal.network[0].value" name="network-1">wifi
                    </label>
                    <label class="mr20">
                        <input [class.bgc-gray3]="isCampaignNetwork && !campaignTargetModal.network[1].value" [disabled]="isCampaignNetwork && !campaignTargetModal.network[1].value" type="checkbox" [(ngModel)]="targetModal.network[1].value" name="network-2">2G
                    </label>
                    <label class="mr20">
                        <input [class.bgc-gray3]="isCampaignNetwork && !campaignTargetModal.network[2].value" [disabled]="isCampaignNetwork && !campaignTargetModal.network[2].value" type="checkbox" [(ngModel)]="targetModal.network[2].value" name="network-3">3G
                    </label>
                    <label>
                        <input [class.bgc-gray3]="isCampaignNetwork && !campaignTargetModal.network[3].value" [disabled]="isCampaignNetwork && !campaignTargetModal.network[3].value" type="checkbox" [(ngModel)]="targetModal.network[3].value" name="network-4">4G
                    </label>
                </div>
            </div>
        </div>
        <div class="flex-base mt34 height34 line-height34">
            <div class="width220 textright">网络运营商：</div>
            <div class="flex-base width1200 ml20">
                <label class="mr65">
                    <input [class.bgc-gray3]="isCampaignCarrier" [disabled]="isCampaignCarrier" type="radio" [(ngModel)]="isCarrier" name="notCarrier" [value]="false" (click)="deleteRadioTarget('carrier')">不限
                </label>
                <label class="mr20">
                    <input type="radio" [(ngModel)]="isCarrier" name="isCarrier" [value]="true" (click)="addRadioTarget('carrier')">自定义
                </label>
                <div class="flex-base" *ngIf="isCarrier">
                    <label class="mr20">
                        <input [class.bgc-gray3]="isCampaignCarrier && !campaignTargetModal.carrier[0].value" [disabled]="isCampaignCarrier && !campaignTargetModal.carrier[0].value" type="checkbox" [(ngModel)]="targetModal.carrier[0].value" name="carrier-1">中国移动
                    </label>
                    <label class="mr20">
                        <input [class.bgc-gray3]="isCampaignCarrier && !campaignTargetModal.carrier[1].value" [disabled]="isCampaignCarrier && !campaignTargetModal.carrier[1].value" type="checkbox" [(ngModel)]="targetModal.carrier[1].value" name="carrier-2">中国联通
                    </label>
                    <label>
                        <input [class.bgc-gray3]="isCampaignCarrier && !campaignTargetModal.carrier[2].value" [disabled]="isCampaignCarrier && !campaignTargetModal.carrier[2].value" type="checkbox" [(ngModel)]="targetModal.carrier[2].value" name="carrier-3">中国电信
                    </label>
                </div>     
            </div>
        </div>
        <div class="flex-base mt34 height34 line-height34">
            <div class="width220 textright">设备平台：</div>
            <div class="flex-base width1200 ml20">
                <label class="mr65">
                    <input [class.bgc-gray3]="isCampaignDevice" [disabled]="isCampaignDevice" type="radio" [(ngModel)]="isDevice" name="notDevice" [value]="false" (click)="deleteRadioTarget('device')">不限
                </label>
                <label class="mr20">
                    <input type="radio" [(ngModel)]="isDevice" name="isDevice" [value]="true" (click)="addRadioTarget('device')">自定义
                </label>
                <div class="flex-base" *ngIf="isDevice">
                    <label class="mr20">
                        <input [class.bgc-gray3]="isCampaignDevice && !campaignTargetModal.device[0].value" [disabled]="isCampaignDevice && !campaignTargetModal.device[0].value" type="checkbox" [(ngModel)]="targetModal.device[0].value" name="device-1">手机
                    </label>
                    <label>
                        <input [class.bgc-gray3]="isCampaignDevice && !campaignTargetModal.device[1].value" [disabled]="isCampaignDevice && !campaignTargetModal.device[1].value" type="checkbox" [(ngModel)]="targetModal.device[1].value" name="device-2">平板
                    </label>
                </div>
            </div>
        </div>
        <div class="flex-base mt34 height34 line-height34">
            <div class="width220 textright">操作系统：</div>
            <div class="flex-base width1200 ml20">
                <label class="mr65">
                    <input [class.bgc-gray3]="isCampaignOs" type="radio" [disabled]="isCampaignOs" [(ngModel)]="isOs" name="notOs" [value]="false" (click)="deleteRadioTarget('os')">不限
                </label>
                <label class="mr20">
                    <input type="radio" [(ngModel)]="isOs" name="isOs" [value]="true" (click)="addRadioTarget('os')">自定义
                </label>
                <div class="flex-base" *ngIf="isOs">
                    <label class="mr20">
                        <input [class.bgc-gray3]="isCampaignOs && !campaignTargetModal.os[0].value" [disabled]="isCampaignOs && !campaignTargetModal.os[0].value" type="checkbox" [(ngModel)]="targetModal.os[0].value" name="os-1">android
                    </label>
                    <label>
                        <input [class.bgc-gray3]="isCampaignOs && !campaignTargetModal.os[1].value" [disabled]="isCampaignOs && !campaignTargetModal.os[1].value" type="checkbox" [(ngModel)]="targetModal.os[1].value" name="os-2">ios
                    </label>
                </div>  
            </div>
        </div>
        <div class="flex-base mt34 height34 line-height34">
            <div class="width220 textright">手机品牌：</div>
            <div class="flex-base width1200 ml20">
                <label class="mr65">
                    <input [class.bgc-gray3]="isCampaignCellphone" [disabled]="isCampaignCellphone" type="radio" [(ngModel)]="isCellphone" name="notCellphone" [value]="false" (click)="deleteCellphone()">不限
                </label>
                <label class="mr20 pointer">
                    <input type="radio" [(ngModel)]="isCellphone" name="isCellphone" [value]="true" (click)="showBrand()">自定义
                </label>
            </div>
        </div>
        <modal #brandModal [backdrop]="'static'" [animation]="false" class="modalBrand">
            <modal-body>    
                <div class="ng2-modal-header">
                    <div class="width3 height18 bgc-blue4 ml20"></div> 
                    <div class="ml10 font16 font-bold color-gray5">手机品牌</div>   
                </div>    
                <mobile-brand *ngIf="isShowBrand"
                    [brand] = "policy.targeting.brand"
                    [limit] = "campaign.targeting.brand"
                    (outer)="onBrandMessage($event)"
                ></mobile-brand>
            </modal-body>
        </modal>
        <div class="flex-base mt34 height34 line-height34">
            <div class="width220 textright">场景定向 - 精度范围：</div>
            <div class="flex-base width1200 ml20">
                <div class="width240">
                    <select class="form-control" [(ngModel)]="policy.sceneRadius" name="sceneRadius">
                        <option *ngIf="!campaign.sceneRadius" [ngValue]="undefined">请选择精度范围</option>
                        <option [ngValue]="'8'">半径19.11m范围内</option>
                        <option *ngIf="campaign.sceneRadius <= '7' || !campaign.sceneRadius" [ngValue]="'7'">半径76m范围内</option>
                        <option *ngIf="campaign.sceneRadius <= '6' || !campaign.sceneRadius" [ngValue]="'6'">半径610m范围内</option>
                        <option *ngIf="campaign.sceneRadius <= '5' || !campaign.sceneRadius" [ngValue]="'5'">半径2.4km范围内</option>
                        <option *ngIf="campaign.sceneRadius <= '4' || !campaign.sceneRadius" [ngValue]="'4'">半径20km范围内</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="flex-base mt34 height34 line-height34">
            <div class="width220 textright"></div>
            <div class="flex-start-center width1200 ml20">          
                <label class="pointer mr20" *ngIf="!campaign.sceneName">
                    <input type="file" class="dispaly-none" #file ng2FileSelect [uploader]="uploader">
                    <button class="btn btn-primary transparent">导入坐标</button>
                </label>  
                <div class="flex-start-center" *ngIf="policy.sceneName">
                    <span>{{ policy.sceneName }}</span>
                    <span *ngIf="!campaign.sceneName" class="icon-delete2 ml10 color-bluebtn pointer" (click)="removeExcel()"></span>
                </div>       
            </div>
        </div>
        <div class="flex-base mt34">
            <div class="font18 width120 height34 line-height34 textcenter font-bold">投放信息</div>
            <!--<div class="font18 width150 height34 line-height34 textcenter font-bold color-blue3">渠道媒体推荐 >></div>-->
        </div>    
        <div class="flex-base">
            <div class="height2 bgc-blue4 width120"></div>
            <div class="height1 bgc-gray3 self-flex-end flex-grow1"></div>
        </div>
        <div class="flex-base mt34 disSelected">
            <div class="width220 textright height60 line-height60 rel required-left">渠道定向：</div>
            <div class="flex-wrap width1200 ml20">
                <ng-container *ngFor="let v of adxs;let i = index">
                    <label *ngIf="v.logoPath" class="flex-column-start-start height120 mr20 mb20">
                        <div class="flex-start-center">
                            <input type="checkbox" [(ngModel)]="v.selected" [attr.name]="'adxSelected' + i" class="mr10">
                            <img src="{{ v.logoPath }}" class="height38 mr10">
                            <div class="font12 mt10 mb10">[竞价]</div>
                        </div>
                    </label> 
                </ng-container>
                <ng-container *ngFor="let v of contracts;let i = index">
                    <label *ngIf="v.logoPath" class="flex-column-start-start height120 mr20 mb20">
                        <div class="flex-start-center mb10">
                            <input type="checkbox" [(ngModel)]="v.selected" [attr.name]="'contractsSelected' + i" class="mr10">
                            <img src="{{ v.logoPath }}" class="height38 mr10">
                            <div class="font12 mt10 mb10">[定价]</div>
                        </div>
                        <div>
                            <div *ngIf="v.name" class="width150 textleft wordwrap ml40 ell">{{ v.name }}</div>
                            <div *ngIf="v.id" class="width150 textleft wordwrap ml40 ell">{{ " deal id: " + v.id }}</div>
                            <div *ngIf="v.bid" class="width150 textleft wordwrap ml40 ell">{{ v.bid + "元/CPM" }}</div>
                        </div>
                    </label>
                </ng-container>
            </div>
        </div>
        <div class="flex-base mt34 height34 line-height34">
            <div class="width220 textright">按媒体分类：</div>
            <div class="flex-start-center width1200 ml20">
                <label class="mr40">
                    <input [class.bgc-gray3]="campaign.targeting.appType.isInclude" [disabled]="campaign.targeting.appType.isInclude" type="radio" [(ngModel)]="policy.targeting.appType.isInclude" name="isappTypeis" [value]="undefined" (click)="removeAppType()">不限
                </label>
                <label class="mr40">
                    <input [class.bgc-gray3]="campaign.targeting.appType.isInclude === '0'" [disabled]="campaign.targeting.appType.isInclude === '0'" type="radio" [(ngModel)]="policy.targeting.appType.isInclude" name="isappTypeisInclude" [value]="'1'">选择分类
                </label>
                <label class="mr20">
                    <input [class.bgc-gray3]="campaign.targeting.appType.isInclude === '1'" [disabled]="campaign.targeting.appType.isInclude === '1'" type="radio" [(ngModel)]="policy.targeting.appType.isInclude" name="deleteappTypeisInclude" [value]="'0'">排除分类
                </label>
            </div>
        </div>
        <div class="flex-base mt34" *ngIf="policy.targeting.appType.isInclude">
            <div class="width220 textright height60 line-height60"></div>
            <div class="flex-wrap width1200 ml20">
                <div *ngFor="let v of appTypes;let i = index" (click)="toggleAppType(v)" [class.transparent]="campaign.targeting.appType.isInclude === '0' && publicService.isExistByArr(v.id,campaign.targeting.appType.value)" [class.campaign-appType]="v.selected || (campaign.targeting.appType.isInclude === '0' && publicService.isExistByArr(v.id,campaign.targeting.appType.value))" class="rel mr20 mb20 width110 height38 border-yellow3-1px textcenter line-height38 font12 radius3 disSelected pointer">
                    {{ v.name }}
                    <span class="icon-dg-right22 right0 bottom0 abs font16" *ngIf="v.selected || (campaign.targeting.appType.isInclude === '0' && publicService.isExistByArr(v.id,campaign.targeting.appType.value))"></span>
                </div>
            </div>
        </div>
        <div class="flex-base mt34 height34 line-height34">
            <div class="width220 textright">按媒体名称：</div>
            <div class="flex-start-center width1200 ml20">
                <div *ngIf="appAmount" class="mr20">{{ (policy.targeting.app.isInclude === "0" ? "排除了 " : "选择了 ") + appAmount + " 个媒体" }}</div>
                <button class="btn btn-primary" (click)="showApp()">点击设置</button>
            </div>
        </div>
        <modal #appModal [backdrop]="'static'" [animation]="false" class="modalApp">
            <modal-body>    
                <div class="ng2-modal-header">
                    <div class="width3 height18 bgc-blue4 ml20"></div> 
                    <div class="ml10 font16 font-bold color-gray5">选择媒体</div>   
                </div>    
                <ng-app *ngIf="isShowApp"
                    [app] = "policy.targeting.app"
                    (outer)="onAppMessage($event)"
                ></ng-app>
            </modal-body>
        </modal>
        <div class="flex-base mt34 height34 line-height34">
            <div class="width220 textright">设备流量ID白名单：</div>
            <div class="flex-base width1200 ml20">
                <label class="mr40">
                    <input type="radio" [(ngModel)]="isNodid" name="notNodid" [value]="false" (click)="deleteNodid()">不限
                </label>
                <label class="pointer">
                    <input type="radio" [(ngModel)]="isNodid" name="isNodid" [value]="true" (click)="showNodid()">自定义
                </label>
            </div>
        </div>
        <div class="ml200">
            <device-list *ngIf="isNodid"
                [app] = "policy.targeting.nodid"
                (outer)="onNodidMessage($event)"
            ></device-list>
        </div>  
        <div class="dashed-gray3-1px mt34 mb50"></div>
        <div class="flex-base mt34 height34 line-height34">
            <div class="width220 textright"></div>
            <div class="flex-base width1200 ml20">
                <button class="btn btn-cancel mr20" (click)="cancel()">取 消</button>
                <button class="btn btn-primary" (click)="save()">保 存</button>
            </div>
        </div>
    </div>
</div>