<div class="content">
    <div class="put-top">
        <h4>{{campaign.name}}</h4>
    </div>
    <div class="put-tab">
            <div>
                    
                      <!-- Nav tabs -->
                      <ul class="nav nav-tabs" role="tablist">
                        <li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab">活动详情</a></li>
                        <li role="presentation" [routerLink]="['/home/campaign/package/auditList',campaignId]"><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">物料包</a></li>
                      </ul>                    
                      <!-- Tab panes -->
                      <div class="tab-content">
                        <div role="tabpanel" class="tab-pane active" id="home">
                            <div class="edit-head">
                                <div class="adver">
                                    <span>广告主：</span>
                                    <input type="text" [(ngModel)]="campaign.advertiserName" name="advertiserName" disabled="disabled" class="bgc-white">
                                </div>
                                <div class="adv-pro">
                                    <span>广告项目：</span>
                                    <input type="text"  [(ngModel)]="campaign.projectName" name="projectName" disabled="disabled" class="bgc-white">
                                </div>
                                <button class="btn btn-primary" (click)="gotocampaignForm(campaignId)">编辑</button>
                                <button class="btn btn-primary" (click)="gotocampaignAudit()">返回</button>
                            </div>
                           <div class="edit-base">
                               <div class="base-text">基本定向</div>
                               <div>
                                    <div class="base-id base-left">
                                        <span>推广活动ID：</span>
                                        <input type="text" [(ngModel)]="campaign.id" name="id" disabled="disabled" class="bgc-white">
                                    </div>
                                    <div class="base-name base-left">
                                            <span>推广活动名称：</span>
                                            <input type="text" [(ngModel)]="campaign.name" name="name" disabled="disabled" class="bgc-white">
                                        </div>
                                        <div class="base-name base-left">
                                            <span>投放周期：</span>
                                            <input type="text" value="{{ publicService.FormalTimeLine(campaign.startDate) + ' 至 ' +  publicService.FormalTimeLine(campaign.endDate)}}">
                                        </div>
                                        <div class="base-kpi base-left">
                                            <span>投放时间、KPI及成本：</span>
                                            <img src="../../images/m.png" alt="">
                                            <input type="text" [(ngModel)]="campaign.totalImpression" name="totalImpression" disabled="disabled" class="bgc-white">
                                            <img src="../../images/c.png" alt="">
                                            <input type="text" [(ngModel)]="campaign.totalClick" name="totalClick" disabled="disabled" class="bgc-white">
                                            <img src="../../images/money.png" alt="">
                                            <!-- <input type="text"  [(ngModel)]="campaign.totalBudget" name="totalBudget"> -->
                                            <span>{{campaign.totalBudget/100}}元</span>
                                            <span class="yuan">元</span>
                                            <div class="base-day">
                                                <!-- <span class="tian">D</span> -->
                                                <img src="../../images/d.png" alt="">
                                                <span>{{day}}天</span>
                                            </div>
                                            <div class="base-hour">
                                                <!-- <span class="hour">H</span> -->
                                                <img src="../../images/h.png" alt="">
                                                <span>{{hours}}小时</span>
                                            </div>
                                            <button class="btn btn-primary" (click)="toggleKpi()">查看详情</button>
                                        </div>
                                        <ng-kpi *ngIf="isShowKpi"
                                        [kpi]="campaign.kpi"
                                        [ready]="true"
                                        [totalBudget]="campaign.totalBudget"
                                        [totalClick]="campaign.totalClick"
                                        [totalImpression]="campaign.totalImpression"
                                        (outer)="onmessage($event)"
                                    ></ng-kpi>
                                        <div class="base-hz base-left">
                                            <span>频次控制：</span>
                                            <span >每个活动-每天-对每个用户-展示-{{campaign.frequencyAmount}}次</span>
                                            <span class="base-unit">单位：</span>
                                            <span>{{campaign.bid}}元/{{campaign.bidType}}</span>
                                        </div>
                               </div>
                           </div>
                           <div class="edit-point">
                                    <div class="point-text">定向信息</div>
                                    <div>
                                        <span>城市——</span>
                                        <span>{{regionsName.join("、")}}</span>
                                    </div>
                                    <div>
                                        <span>媒体分类——</span>
                                        <span>选择：{{appTypesNames.join("、")}}</span>
                                    </div>
                                    <div>
                                        <span>设备平台——</span>
                                        <span>{{devices.join("、")}}</span>
                                    </div>
                                    <div>
                                        <span>操作系统——</span>
                                        <span>{{oss.join("、")}}</span>
                                    </div>
                                    <div>
                                        <span>手机品牌——</span>
                                        <span>{{brandsName.join("、")}}</span>
                                    </div>
                                    <div>
                                        <span>运营商——</span>
                                        <span>{{carriers.join("、")}}</span>
                                    </div>
                                    <div>
                                        <span>联网环境——</span>
                                        <span>{{networks.join("、")}}</span>
                                    </div>
                                    <!-- <div>
                                        <span>人群包——</span>
                                        <input type="text" value="优先投放人群包，共3个：xxx人群包、xxx人群包、xxxx人群包">
                                    </div> -->
                           </div>
                           <div class="edit-point edit-put">
                                <div class="point-text">投放信息</div>
                                <div>
                                    <span>媒体——</span>
                                    <span>按媒体分类，选择"{{appTypesNames.join("、")}}";按媒体名称，排除"{{appName.join("、")}}"</span>
                                </div>
                           </div>
                        </div>
                        
                      
     
                    </div>
    </div>
</div>