<div class="prom content">
        <div class="prom-top">
            <div class="btn-group prom-campaign">
                <button class="btn btn-primary " type="button" (click)="gotoprojectForm()">新建广告项目</button>
            </div>
            <div class='btn-group'>
                <button class="btn btn-primary " type="button" (click)="gocampaignForm()">新建推广活动</button>
            </div>
        </div>
        <div class="put-tab">
             <div>
                  <!-- Nav tabs -->
                      <ul class="nav nav-tabs" role="tablist">
                        <li role="presentation"  class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab">已审核</a></li>
                        <li role="presentation" [routerLink]="['/home/campaign/campaignAudit']"><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">待审核</a></li>                       
                      </ul>
                     <div class="tab-content mt0 ">
                            <div role="tabpanel" class="tab-pane active" id="home">
                                    <div class="panel-body ">
                                            <form class="form-inline">
                                                <div class="form-group poc-date ">
                                                    <span >投放日期：</span>
                                                    <!-- <input type="email" class="form-control"  placeholder=""  #searchDate> -->
                                                    <div class="rel width220 put-picker pl0">
                                                        <!-- <input id="singalTimeRangePicker" class="form-control" type="text" value="{{publicService.FormalTimeLine(Date)}}"> -->
                                                        <input id="timeRangePicker1" class="form-control width220" type="text"  value="{{ publicService.FormalTimeLine(startDate1)+ this.zhi +publicService.FormalTimeLine(endDate1)}}" >
                                                        <i class="icon-calendar time-icon"></i>
                                                    </div>
                                                </div>
                                                <div class="form-group ml20 width293">
                                                    <span >所属广告主：</span>
                                                    <!-- <select  [(ngModel)]="campaigns.advertiserName" name="advertiserName" (change)="selectedAdvertiser()">
                                                        <option [ngValue]="undefined">  全部  </option>
                                                        <option *ngFor="let v of advertisers;let i = index;" [ngValue]="v">{{ v.name }}</option>
                                                    </select> -->
                                                    <input type="text" class="form-control"  placeholder="" name="advertiserName"  [(ngModel)]="advertiserName" >
                                                </div>
                                                <div class="form-group">
                                                    <span >活动ID：</span>
                                                    <input type="number" class="form-control"  placeholder="仅支持精确搜索" name="ids"  [(ngModel)]="ids" > 
                                                </div>
                                                <div class="form-group">
                                                    <span>活动名称：</span>
                                                    <input type="text" class="form-control"  placeholder="" name="name"  [(ngModel)]="name">
                                                </div>
                                                <div class="form-group">
                                                    <span>活动状态：</span>
                                                    <select name="status"  [(ngModel)]="status" >
                                                            <option value="00">  全部   </option>
                                                            <option value="01">已暂停</option>
                                                            <option value="02">投放中</option>
                                                            <option value="03">已结束</option>
                                                        </select>
                                                </div>
                                                <button  class="btn btn-primary ml0" (click)="refreshTable({pageNo: 1})">查询</button>
                                            </form>
                                            <!-- <div class="text-date  rel left1155">数据时间选择：</div>
                                            <div class="rel width220 put-picker pl0 left680">
                                                <input id="timeRangePicker" class="form-control" type="text" value="{{ publicService.FormalTimeLine(startDate) + ' 至 ' +  publicService.FormalTimeLine(endDate)}}" >
                                                <i class="icon-calendar time-icon"></i>
                                            </div> -->
                                            <div class="prom-tab">
                                                    <ng-page
                                                    [page]="page"
                                                    (outerPage)="onPage($event)">
                                                     </ng-page> 
                                                    <ngx-datatable [rows]="campaigns"  [columnMode]="'force'" [draggable]="false" [externalSorting]="true" [externalPaging]="true" [headerHeight]="50" [rowHeight]="60" [limit]="page.pageSize" [count]="page.total" [offset]="page.pageNo" [messages]="{ emptyMessage: '暂无数据', totalMessage: '条' }"
                                                    (page)="onPage($event)" [cssClasses]="{ pagerPrevious:'icon-backward22', pagerNext:'icon-forward32', pagerLeftArrow: 'icon-left2', pagerRightArrow: 'icon-right2' }">
                                                        <ngx-datatable-column name="开关" prop="开关" [resizeable]="false" [sortable]="false" [width]="120" [canAutoResize]="false">
                                                            <template ngx-datatable-cell-template let-row="row">
                                                                <div class="ell line-height60">
                                                                    <div class="switch-btn chy-dropbtn" [ngClass]="{'switch-btn-pause':!(row.enable=='1'?true:false)}" (click)="switchChange(row)">
                                                                        <span class="switch-btn-op"  [ngClass]="{'switch-btn-hide':!(row.enable=='1'?false:true)}"></span>
                                                                        <span class="switch-btn-toggle"><i class="switch-btn-in"></i></span>
                                                                        <span class="switch-btn-cl"  [ngClass]="{'switch-btn-hide':(row.enable=='1'?false:true)}"></span>
                                                                    </div>
                                                                </div>
                                                            </template>
                                                        </ngx-datatable-column>
                                                        <ngx-datatable-column name="推广活动ID" prop="id" [resizeable]="false" [sortable]="false">
                                                            <template ngx-datatable-cell-template let-row="row">
                                                                        <div class="ell line-height60" title="{{row.id}}">
                                                                            <span>{{ row.id }}</span>
                                                                        </div>							
                                                                    </template>
                                                        </ngx-datatable-column>
                                                        <ngx-datatable-column name="推广活动名称" prop="name" [resizeable]="false" [sortable]="false" [width]="100"  [canAutoResize]="false">
                                                            <template ngx-datatable-cell-template let-row="row">
                                                                        <div class="ell line-height60"  title="{{ row.name }}">
                                                                            <span class="glyphicon glyphicon-exclamation-sign red hide"></span>
                                                                            <a class="cursor-point" (click)="gotocampaignDetail(row.id)">{{ row.name }}</a>
                                                                        </div>								
                                                                    </template>
                                                        </ngx-datatable-column>
                                                        <ngx-datatable-column name="投放日期" prop="startDate" [resizeable]="false" [sortable]="false" [canAutoResize]="false" [width]="150">
                                                                <template ngx-datatable-cell-template let-row="row">
                                                                            <div class="ell line-height60" title="{{ publicService.FormalTimeLine(row.startDate) + ' 至 ' +  publicService.FormalTimeLine(row.endDate)}}">
                                                                                <span>{{ publicService.FormalTimeLine(row.startDate) + ' 至 ' +  publicService.FormalTimeLine(row.endDate)}}</span>
                                                                            </div>								
                                                                        </template>
                                                            </ngx-datatable-column>
                                                        <ngx-datatable-column name="操作" prop="操作" [resizeable]="false" [sortable]="false" [width]="100"  [canAutoResize]="false">
                                                            <template ngx-datatable-cell-template let-row="row">
                                                                            <div class="btn-group rel line-height60">
                                                                                    <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                                                      编辑 <span class="caret"></span>
                                                                                      <span class="sr-only">Toggle Dropdown</span>
                                                                                    </button>
                                                                                    <ul class="dropdown-menu ul78  abs left10">
                                                                                      <li class="cursor-point" (click)="gotocampaignForm(row.id)"><a> 编辑</a></li>
                                                                                      <li class="cursor-point" (click)="gotocopyAudited()"><a>复制</a></li>
                                                                                      <li class="cursor-point" (click)="show()"><a>预警</a></li>    
                                                                                    </ul>
                                                                                    <div class="bgc-transprant width50 height30 abs z-index99"></div>
                                                                                  </div>
                                                                    </template>
                                                        </ngx-datatable-column>
                                
                                                        <ngx-datatable-column prop="状态" [resizeable]="false" [sortable]="false" [width]="140"  [canAutoResize]="false">
                                                            <template ngx-datatable-header-template>
                                                                        <div class="width-100 height50 flex-center pointer">
                                                                            <div class="flex-base rel height50">
                                                                                <div class="ml8">状态</div>
                                                                                <div class="rel width20 height50">
                                                                                    <!-- <span class='sort-caret-top left5 top19' [class.border-bottom-color-blue2]="isPlusSort"></span>
                                                                                    <span class='sort-caret-bottom left5 top25' [class.border-top-color-blue2]="!isPlusSort"></span> -->
                                                                                    <img src="../../images/zhuangtai.png" alt=""title="状态">
                                                                                </div> 
                                                                            </div>     
                                                                        </div>		
                                                            </template>
                                                            <template ngx-datatable-cell-template let-row="row" >
                                                                            <div class="ell line-height60" >
                                                                                            <span *ngIf="row.status=='00'?true:false" title="已暂停">已暂停</span>
                                                                                            <span *ngIf="row.status=='01'?true:false" title="已暂停">已暂停</span>
                                                                                            <span *ngIf="row.status=='02'?true:false" title="投放中">投放中</span>
                                                                                            <span *ngIf="row.status=='03'?true:false" title="已结束">已结束</span>
                                                                                            <span *ngIf="row.status=='04'?true:false" title="已暂停-未到投放周期">已暂停-未到投放周期</span>
                                                                                            <span *ngIf="row.status=='05'?true:false" title="已暂停-不在投放时段">已暂停-不在投放时段</span>
                                                                                            <span *ngIf="row.status=='06'?true:false" title="已暂停-已到日KPI">已暂停-已到日KPI</span>
                                                                                            <span *ngIf="row.status=='07'?true:false" title="已暂停-已到日成本">已暂停-已到日成本</span>
                                                                                            <span *ngIf="row.status=='08'?true:false" title="广告主已暂停">广告主已暂停</span>             
                                                                            </div>							
                                                                        </template>
                                                        </ngx-datatable-column>
                                                        <ngx-datatable-column name="广告主"  prop="advertiserName" [resizeable]="false" [sortable]="false">
                                                                <template ngx-datatable-cell-template let-row="row">
                                                                            <div class="ell line-height60"  title="{{ row.advertiserName }}">
                                                                                <a [routerLink]="['/home/advertiser/advertiserDetail',row.advertiserId]">{{ row.advertiserName }}</a>
                                                                            </div>								
                                                                        </template>
                                                            </ngx-datatable-column>
                                                            <ngx-datatable-column name="广告项目" prop="projectName" [resizeable]="false" [sortable]="false">
                                                                    <template ngx-datatable-cell-template let-row="row">
                                                                                <div class="ell line-height60" title="{{ row.projectName }}">
                                                                                    <a class="cursor-point" (click)="gotoprojectDetail(row.projectId)">{{ row.projectName }}</a>
                                                                                </div>								
                                                                            </template>
                                                                </ngx-datatable-column>
                                                                <!-- <ngx-datatable-column prop="advertisingAmount" [resizeable]="false" [sortable]="false" [width]="120"  [canAutoResize]="false">
                                                                    <template ngx-datatable-header-template>
                                                                        <div class="width-100 height50 flex-center pointer" title="投放策略数量">
                                                                            <div class="flex-base rel height50">
                                                                                <div class="ml8">投放策略数量</div>
                                                                                <div class="rel width20 height50">
                                                                                    <img src="../../images/zhuangtai.png" alt=""title="投放中/全部">
                                                                                </div> 
                                                                            </div>     
                                                                        </div>		
                                                            </template>
                                                            <template ngx-datatable-cell-template let-row="row">
                                                                    <div class="ell line-height60">
                                                                        <a class="cursor-point" (click)="gotopolicyList(row.id)">{{row.advertisingAmount}}/{{row.totalAmount}}</a>
                                                                    </div>							
                                                             </template>
                                                            </ngx-datatable-column> -->
                                                        <ngx-datatable-column name="物料包数量" pop="packageAmount" [resizeable]="false" [sortable]="false">
                                                            <template ngx-datatable-cell-template let-row="row">
                                                                        <div class="ell line-height60">
                                                                            <!-- <a class="cursor-point" (click)="gotopackageList(row.id)">{{row.packageAmount}}</a> -->
                                                                            <a class="cursor-point" (click)="gotopackageList(row.id)">{{ row.packageAmount }}</a>
                                                                        </div>								
                                                                    </template>
                                                        </ngx-datatable-column>
                                                        <!-- <ngx-datatable-column name="总KPI及投放成本" prop="todayImpression" [resizeable]="false" [sortable]="false" [width]="100"  [canAutoResize]="false">
                                                            <template ngx-datatable-cell-template let-row="row">
                                                                <div class="ell kpi textleft">
                                                                            <img src="../../images/m.png" alt="" [ngClass]="{'hide':(!row.totalImpression? true:false)}">
                                                                            <span>{{row.totalImpression}}</span>
                                                                    </div>
                                                                    <div class="ell kpi textleft">
                                                                        <img src="../../images/c.png" alt="" [ngClass]="{'hide':(!row.totalClick? true:false)}">
                                                                        <span>{{row.totalClick}}</span>
                                                                   </div>	
                                                                    <div class="ell kpi textleft">
                                                                        <img src="../../images/money.png" alt="" [ngClass]="{'hide':(!row.totalBudget? true:false)}">
                                                                        <span [ngClass]="{'hide':(!row.totalBudget? true:false)}">{{row.totalBudget/100}}</span>
                                                                    </div>									
                                                                    </template>
                                                        </ngx-datatable-column> -->
                                                        <ngx-datatable-column name="展现数"  prop="impression" [resizeable]="false" [sortable]="false">
                                                            <template ngx-datatable-cell-template let-row="row">
                                                                        <div class="ell line-height60">
                                                                            <span>{{ row.impression }}</span>
                                                                        </div>								
                                                                    </template>
                                                        </ngx-datatable-column>
                                                        <ngx-datatable-column name="点击量" prop="click" [resizeable]="false" [sortable]="false">
                                                            <template ngx-datatable-cell-template let-row="row">
                                                                        <div class="ell line-height60">
                                                                            <span>{{ row.click }}</span>
                                                                        </div>								
                                                                    </template>
                                                        </ngx-datatable-column>
                                                        <ngx-datatable-column name="CTR" prop="ctr" [resizeable]="false" [sortable]="false">
                                                            <template ngx-datatable-cell-template let-row="row">
                                                                        <div class="ell line-height60">
                                                                            <span>{{ row.ctr }}</span>
                                                                        </div>								
                                                                    </template>
                                                        </ngx-datatable-column>
                                                        <ngx-datatable-column name="成本（元）" prop="cost" [resizeable]="false" [sortable]="false">
                                                            <template ngx-datatable-cell-template let-row="row">
                                                                        <div class="ell line-height60">
                                                                            <span>{{ row.cost }}</span>
                                                                        </div>								
                                                                    </template>
                                                        </ngx-datatable-column>
                                                        <ngx-datatable-column name="eCPM（元）" prop="ecpm" [resizeable]="false" [sortable]="false">
                                                            <template ngx-datatable-cell-template let-row="row">
                                                                        <div class="ell line-height60">
                                                                            <span>{{ row.ecpm }}</span>
                                                                        </div>								
                                                                    </template>
                                                        </ngx-datatable-column>
                                                        <ngx-datatable-column name="eCPC（元）" prop="ecpc" [resizeable]="false" [sortable]="false">
                                                            <template ngx-datatable-cell-template let-row="row">
                                                                        <div class="ell line-height60">
                                                                            <span>{{ row.ecpc }}</span>
                                                                        </div>								
                                                                    </template>
                                                        </ngx-datatable-column>
                                                    </ngx-datatable>
                                                    <ng-page
                                                    [isFooter]="true"
                                                    [page]="page"
                                                    (outerPage)="onPage($event)"
                                                     ></ng-page>
                                                </div>
                                        </div>
                            </div>
                     </div>
             </div>
        </div>
                                              
                                           
        
</div>