.content {
  margin: 22px!important;
}
.content .pd-header {
  overflow: hidden;
}
.content .pd-header h2 {
  float: left;
  display: inline-block;
  font-weight: 700;
}
.content .pd-header .pd-back {
  float: right;
}
.content .pd-tab .nav-tabs > li.active > a,
.content .pd-tab .nav-tabs > li.active > a:focus,
.content .pd-tab .nav-tabs > li.active > a:hover {
  color: #555;
  cursor: default;
  background-color: #fff;
}
.content .pd-tab .tab-content button {
  margin-top: -35px;
}
.content .pd-tab .tab-content .tab-one {
  margin-top: 60px;
}
.content .pd-tab .tab-content .tab-one .tab-id {
  float: left;
}
.content .pd-tab .tab-content .tab-one .tab-name {
  margin-left: 350px;
}
.content .pd-tab .tab-content .tab-two {
  margin: 60px 0;
}
.content .pd-tab .tab-content .tab-two .tab-er {
  float: left;
}
.content .pd-tab .tab-content .tab-two .tab-code {
  margin-left: 350px;
}
.content .pd-tab .tab-content .pro-container {
  position: absolute;
  margin-left: -7px;
}
.content .pd-tab .tab-content .pro-container .text {
  display: none;
}
.content .pd-tab .tab-content .pro-container .on {
  color: #333;
}
.content .pd-tab .tab-content .pro-container .off {
  color: #eee;
}
.content .pd-tab .tab-content .pro-container .circle {
  position: absolute;
  display: inline-block;
}
.content .pd-tab .tab-content .pro-container #radio ~ label {
  background-color: grey;
}
.content .pd-tab .tab-content .pro-container #radio ~ label .circle {
  left: 0;
  transition: all 0.3s;
  --webkit-transition: all 0.3s;
}
.content .pd-tab .tab-content .pro-container #radio ~ label .on {
  display: none;
}
.content .pd-tab .tab-content .pro-container #radio ~ label .off {
  display: inline-block;
}
.content .pd-tab .tab-content .pro-container #radio:checked ~ label {
  background: #458dd6;
}
.content .pd-tab .tab-content .pro-container #radio:checked ~ label .circle {
  left: 50px;
}
.content .pd-tab .tab-content .pro-container #radio:checked ~ label .on {
  display: inline-block;
}
.content .pd-tab .tab-content .pro-container #radio:checked ~ label .off {
  display: none;
}
.content .pd-tab .tab-content .pro-container label {
  display: inline-block;
  position: relative;
  height: 36px;
  width: 90px;
  top: -2px;
  left: -52px;
  line-height: 50px;
}
.content .pd-tab .tab-content .pro-container label .circle {
  display: inline-block;
  height: 28px;
  width: 28px;
  line-height: 26px;
  background-color: #fff;
  margin-top: 4px;
  margin-left: 4px;
}
.content .pd-tab .tab-content .pro-container label .text {
  text-indent: 30px;
  line-height: 28px;
  font-size: 18px;
  font-family: sans-serif;
  text-shadow: 0 0 2px #ddd;
}
.content .pd-tab .tab-content .pro-container input {
  width: 61px;
  height: 10px;
  position: relative;
  top: -14px;
  left: 25px;
  border-color: transparent;
  z-index: 5;
}
.content .pd-tab .tab-content .pro-container input[input="checkbox"]:checked {
  content: '\2713';
  background: yellowgreen;
}
.content .pd-tab .tab-content .ell > div {
  font-size: 0px;
  line-height: 24px;
  float: left;
}
.content .pd-tab .tab-content .ell > div span {
  font-size: 13px;
  vertical-align: middle;
}
.content .pd-tab .tab-content .ell > div img {
  width: 14px;
  height: 14px;
}
.content .pd-tab .tab-content .datatable .datatable-body-cell-label,
.content .pd-tab .tab-content .datatable .datatable-header-cell-label {
  padding: 0px 1px;
}
.content .pd-tab .tab-content #profile .tab-nav {
  float: right;
  margin: 15px 0;
}
.content .pd-tab .tab-content #profile .tab-nav button {
  margin-left: 15px;
}
.content .pd-tab .tab-content #profile .tab-nav .text-date {
  display: inline-block;
  margin-left: 10px;
}
.content .pd-tab .tab-content #profile .tab-nav .put-picker {
  display: inline-block;
}
.content .pd-tab .tab-content button {
  float: right;
  margin-top: 0;
}
.ml0 {
  margin-left: -2px !important;
}
