<div class="content">
    <div class="ml80 mt30">
        <div class="line-height50">
            <div class="pname dispaly-inline-block .abs width175 text-right">
                <span class="display-inline-block rel left0">APP ID：</span>
            </div>
            <input type="text" class="width240 dispaly-inline-block form-control" [(ngModel)]="appId" name="appId"  validation [validations]="'policyName;required'">
        </div>

        <div class="line-height50">
            <div class="pname dispaly-inline-block width175 text-right">
                <span class="display-inline-block ml75">APP 名称：</span>
            </div>
            <input type="text" class="width240 dispaly-inline-block form-control" [(ngModel)]="appName" name="appName"  validation [validations]="'policyName;required'">
        </div>

        <div class="line-height50">
            <div class="pname dispaly-inline-block .abs width175 text-right">
                <span class="display-inline-block rel left0">所属渠道：</span>
            </div>
            <select class="form-control width240" [(ngModel)]="cludeAdx" name="cludeAdx">
                <option [ngValue]="undefined">----------</option>
                <option *ngFor="let v of cludeAdxs;let i = index;" [ngValue]="v">{{ v.name }}</option>
            </select>
        </div>

        <div class="line-height50">
            <div class="pname dispaly-inline-block .abs width175 text-right">
                <span class="display-inline-block rel left0">一级分类：</span>
            </div>
            <select class="form-control width240" [(ngModel)]="oneclassify" name="oneclassify" (change)="changechannel(oneclassify.oneLevelId,'2')">
                <option [ngValue]="undefined">----------</option>
                <option *ngFor="let v of oneclassifys;let i = index;" [ngValue]="v">{{ v.oneLevelName }}</option>
            </select>
        </div>

        <div class="line-height50">
            <div class="pname dispaly-inline-block .abs width175 text-right">
                <span class="display-inline-block rel left0">二级分类：</span>
            </div>
            <select class="form-control width240" [(ngModel)]="twoclassify" name="twoclassify" (change)="changechannel(twoclassify.twoLevelId,'3')">
                <option [ngValue]="undefined">----------</option>
                <option *ngFor="let v of twoclassifys;let i = index;" [ngValue]="v">{{ v.twoLevelName }}</option>
            </select>
        </div>

        <div class="line-height50">
            <div class="pname dispaly-inline-block .abs width175 text-right">
                <span class="display-inline-block rel left0">三级分类：</span>
            </div>
            <select class="form-control width240" [(ngModel)]="threeclassify" name="threeclassify">
                <option [ngValue]="undefined">----------</option>
                <option *ngFor="let v of threeclassifys;let i = index;" [ngValue]="v">{{ v.threeLevelName }}</option>
            </select>
        </div>


    </div>
    <div class="line-height60 ml300">
        <button class="btn btn-cancle" (click)="cancel()">取消</button>
        <button class="btn btn-primary ml20" (click)="save()">确定</button>
    </div>
</div>